.gallery {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
}
.gallery-list {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  list-style: none;
  padding: 0;
  margin: 0;
}
.gallery-item a {
  display: block;
  margin-bottom: 1rem;
  color: var(--main);
  text-decoration: none;
  transition: 0.3s;
}
.gallery-item a:hover {
  opacity: 70%;
}
.gallery-item img {
  width: 15rem;
  height: auto;
  border-radius: 0.5rem;
}
